// Fuente
$font-family: 'Poppins', sans-serif;

// Color
$primary-color: #007bff;
$dark-color: #000;
$white-color: #ffffff;
$background-color: #f8f9fa;
$overlay-color: rgba(0, 0, 0, 0.5);

// Tamaño
$carousel-caption-bottom: 220px;
$carousel-caption-width: 60%;
$card-button-bottom: 10px; 













  
  